*{
     box-sizing: border-box;
}

body{
margin:0;
	padding:0;
	background-image: url(https://cdn.discordapp.com/attachments/819499282892718080/822833409667104788/fbarka_1220x575.jpg);
	font-family: 'Concert One', cursive;
}

#social{
	background-color:  #0e81e4;
	color: #FCFF33;
	height: 60px;
	width: 100%;
	position: sticky;
	top: 0;
	z-index: 10;
	font-size: 18px;
	text-align: right;
	padding: 30px;
	
}

   font{
	   float:left;
	   letter-spacing: 2px;
   }
   
   span{
	   font-size: 13px;
	   letter-spacing:1px;
   }
   
   #social>i{
	   margin-right:30px;
   } 
   
    #social>i:hover{
	   opacity:0.8;
   } 
   
   #container{
	   width:100%;
	   margin:auto;
	   height:auto;
   }
   
   
.enust{
  color:#FCFF33;
}
	  header{
		  width:100%;
		  height:250px;
	      position: relative;
		  
		  margin-bottom : 5px;
		
	  }
	  
	
   
     #headerResim{
		  width:%100;
		  height:250px;
		  border-bottom-left-radius: 10px;
		  border-bottom-right-radius: 10px;
		
		  
	  }
	  
	  #centered{
		  
		  position:absolute;
		  top:20%;
		  left:41%;
		  transform: translate(-50%,-%50);
		  color:#FCFF33;
		  font-family: 'Anton', sans-serif;
		  font-size: 80px;
      text-align:center;
     
		 
	  }
	  
#yan {
  color:white;
}
		
	section{
		width:100%;
		height:auto;
		background-color: black;
		border-top-left-radius:10px;
		border-bottom-right-radius:10px;
		box-shadow: 0 2px 4px 1px rgba(10, 13, 18, 5);
	    margin-top:15px;
		overflow:auto;
		
	}
	nav{
		width:20%;
		float:left;
		margin-top:10px;
	    height:auto;
	}
	
	nav ul{
		width:auto;
		height:100%;
		margin:0;
		padding:0;
	}
	
	nav li{
		list-style-type: none;	
	}
	
	nav li a{
		height:50px;
		line-height:50px;
		text-decoration:none;
		color:white;
		border-bottom:1px solid #b4b4b4;
		padding-left:20px;
		display:block;
	}
	
	nav li a:hover{
		color:white;
		background-image: url(https://cdn.discordapp.com/attachments/791908871111180328/817089321265004554/Buzul_kus_logosu_bosta_739x415_1.png);
	}
	
   i{
	   margin-right:10px;
   }
   
   main{
	   float:left;
	   height:auto;
	   width:80%;
	   padding: 10px
   }
	
      
.icerik {
  width:90%;
  height:auto;
    color: #fff;
    background-color: #000;
 
    border: 5px solid #02029C;
    border-radius: 20px 20px 0px 0px;
}

.icerikalt{
height:auto;
    background: #F8EA10;
    padding: 50px 100px;
    margin-left: -5px;
    margin-right: -5px;
    border-radius: 20px 20px 0px 0px;
  border:5px solid #02029C;
  
}
.dahafazla{
    font-family: Roboto;
    float: left;
    font-size: 24px;
    margin-top: -18px;
    margin-left: 60px;
  
}

.dahafazla a{
    color:#000;
}

	  #yardım{
		  width:100%;
		  border-top-left-radius:10px;
		  border-top-right-radius:10px;
		  transition: opacity 0.8s;
	  }
	  
	  #yardım:hover{
		  opacity:0.9;
	  }
	  
	  h5{
		  margin:10px;
		  color:dimgray;
	  }
	  
	  .icerikText{
		  margin:30px;
		  color:#1E10F8;
	  }
h1 {
  color: 000;
  margin:-10px;
  text-align: center;
}

}
	  .btnDevam:link{
		  display: block;
		  width:150px;
		  height:45px;
		  padding:10px 20px;
		  
		  color:#0051FF;
		  text-decoration: none;
		  margin:15px;
		  border-radius:10px;
      text-shadow: 2px 2px 5px #0051FF;
     
      
	  }
	  
	  
	 .BtnDevam:hover{
		 opacity:0.8;
	 }

	 	  #abone{
		  width:100%;
		  border-top-left-radius:10px;
		  border-top-right-radius:10px;
		  
	  }
	  
	    #ekle{
		  width:100%;
		  border-top-left-radius:10px;
		  border-top-right-radius:10px;
	  }
	  
	  
	 footer{
		 width:100%;
		 height:75px;
		 background-color: #0e81e4;
		 color:white;
		 line-height: 75px;
		 text-align: center;
  

	 }
	  
	.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}





@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container
{
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-wrap: wrap;
}
.container .card
{
    position: relative;
    width: 300px;
    height: 400px;
    background: #0055FF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.2);
    overflow: hidden;
}
.container .card::before
{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: 50%;
    background: rgba(255,255,255,0.1);
    pointer-events: none;
}
.container .card .content
{
    padding: 30px;
    text-align: center;
}
.container .card .content h2
{
    position: absolute;
    right: 30px;
    font-size: 4em;
    font-weight: 800;
    color: #fff;
    z-index: 1;
    opacity: 0.1;
    transition: 0.5s;
}
.container .card:hover .content h2
{
    opacity: 1;
    transform: translateY(-70px);
}
.container .card .content h3
{
    position: relative;
    font-size: 1.5em;
    color: #fff;
    z-index: 2;
    opacity: 0.5;
    letter-spacing: 1px;
    transition: 0.5s;
}
.container .card .content p
{
    position: relative;
    font-size: 1em;
    color: #fff;
    z-index: 2;
    opacity: 0.5;
    font-weight: 300;
    letter-spacing: 1px;
    transition: 0.5s;
}
.container .card:hover .content h3
.container .card:hover .content p
{
    opacity: 1;
}
.container .card .content a 
{
    display: inline;
    margin-top: 15px;
    padding: 8px 15px;
    background: #000000;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}
.container .card span
{
    transition: 0.5;
}
.container .card span:nth-child(1)
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, transparent, #0108ff);
    animation: animate1 2s linear infinite;
}
@keyframes animate1
{
    0%
    {
        transform: translateX(-100%);
    }
    100%
    {
        transform: translateX(100%);
    }
}
.container .card span:nth-child(2)
{
    position: absolute;
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to bottom, transparent, #0108ff);
    animation: animate2 2s linear infinite;
    animation-delay: 1s;
}
@keyframes animate2
{
    0%
    {
        transform: translateY(-100%);
    }
    100%
    {
        transform: translateY(100%);
    }
}
.container .card span:nth-child(3)
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to left, transparent, #0108ff);
    animation: animate3 2s linear infinite;
}
@keyframes animate3
{
    0%
    {
        transform: translateX(100%);
    }
    100%
    {
        transform: translateX(-100%);
    }
}
.container .card span:nth-child(4)
{
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to top, transparent, #0108ff);
    animation: animate4 2s linear infinite;
    animation-delay: 1s;
}
@keyframes animate4
{
    0%
    {
        transform: translateY(100%);
    }
    100%
    {
        transform: translateY(-100%);
    }
}